body{
    margin: 0px;
    font-family: Arial, sans-serif;

}
a{
    text-decoration:none;
}
fieldset {
  border: 0;
  padding: 0px !important;
  margin: 0px !important;
  display: inline-block !important;
}
label {
  display: inline-block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}
.menuHeader{
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 5px 12px 5px 30px;
  position: relative;
  background-color: #131924;
  color: #ffffff;

}
#search-box{
  background-color: #1c2533;
  color: #ffffff;
  border: none;
  height: 35px;
  outline: none;
  border-radius: 3px;
}
#search-box:hover{
  border: 1px solid #64bdff;
}
#search-submit{
  background-color: #1c2533;
  color: #ffffff;
  border: none;
  height: 35px;
  cursor: pointer;
  padding: 5px 12px 5px 12px;
  margin-left: 12px;
  border-radius: 3px;
}
#search-submit:hover{
  border: 1px solid #64bdff;
}
.placeorder-container{
  display: inline-block;
  position: absolute;
  height: 709px;
  border-top: 1px solid #363D4E;
}
.placeOrder-wrap{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: normal;
    margin: 0px;
    padding: 12px 16px 16px;
    width: 288px;
    background-color: #131823;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    z-index: 23;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-block;
    user-select: none;

}
.isolatedClass{
  background-color: #1c2533;
  color: #808b98;
  border: none;
  margin: 5px 0px 12px 5px;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  border-radius: 3px;
}
.crossClass{
  background-color: #1c2533;
  color: #808b98;
  border: none;
  margin: 5px 0px 12px 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.isolatedClass:hover,.crossClass:hover,.crossNumber:hover, .isolatedCrossHover{
  color: #ffffff;
  background-color: #273347;
  border: 1px solid #64bdff;
}

.crossNumber{
  display: inline-block;
  background-color: #1c2533;
  color: #808b98;
  border: none;
  margin: 5px 0px 12px 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  width: 30px;
  height: 15px;
  position: absolute;
}
.crossUnit{
  position: fixed;
}


.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
  background: #1C2633;
  border: none;
  color: #ffff;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
  color: #ffff;
}
.ui-button-icon-only .ui-icon {
  background-color: #fff;
  outline: none;
  border: none;
}

#amountInput{
  background-color: #1c2533;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  margin: 0px;
  padding: 0px;
  width: 126px;
  text-align: center;
  cursor:text;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* .amountUnit{
  display: inline-block;
}
.amountUnit::after {
  position: absolute;
  top: 2px;
  right: .5em;

}
.amountUnit::after {
  content: 'X';
  color: #ffffff;
} */
.submitBtn{
  background-color: #1c2533;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  margin: 0px;
  padding: 0px;
  width: 126px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}
.submitBtn:hover,.submitBtnHover{
  background-color: #3CB371	;
}
.tradingview-widget-container{
    display: inline-block;
}
.wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
    height: 12px;
}
.order-place{
    padding: 0px 0px 20px 8px;
    display: inline-block;

}
.options{
display: inline-block;
color: #808b98;
cursor: pointer;
position: absolute;
right: 5px;
}



.dropdown {
    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1c2533;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 3px;

  }

  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #273347; border-radius: 3px;}
  .dropdown:hover .dropdown-content {display: block;}



.bottons-wrap{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    z-index: 23;
    font-size: 14px;
    color: rgb(255, 255, 255);
    position: relative;
    user-select: none;
    padding: 0px;
}


.bottons{
    background-color: #1c2533;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    margin: 0px;
    padding: 0px;
    width: 126px;
    text-align: center;
    cursor: pointer;
}
.buy{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    left: 2px;
}
.buy:hover{
  background-color: #3CB371	;
}

.buyHover{
  background-color: #3CB371	;
}

.sell{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: -2px;
}
.sell:hover{
  background-color: #DC143C	;
}
.sellHover{
  background-color: #DC143C	;
}
.market-limit-wrap{
    border-bottom: 1px solid #000000;
    text-align: center;
    margin: 15px 0px 0px 0px;

}
.market-limit-wrap a{
  color: #808b98;
}
.space{
    padding: 8px 0px 10px;
    width: 29px;
    display: inline-block;
}
.market-limit{
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    color: #808b98;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    line-height: 12px;
    padding: 8px 0px 10px;
    cursor: pointer;

}
.market-limit-wrap a:hover{color: rgb(255, 255, 255); }
.market-limit:hover{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #64bdff;
}
.marketLimitHover{
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #64bdff;
}
.market{
    width: 50px;
}

.limit{
    width: 35px ;
}

.stop-limit {
width: 95px;
}

.logo-name{
    padding: 15px 0px 15px 0px;
    color: #808b98;

}
.names{
    display: inline-block;
}

#currency{
    background-color: #1c2533;;
    outline: none;
    color: #808b98;
    border: none;

}
/* doros  she */
.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  border: none !important;
  width: 75px !important;
  font-size: 13px;
  background: #131923;
  color: #808b98;

}
.ui-widget.ui-widget-content {
  border: none;
  background-color: #131923;
  margin: 0px;
  padding: 0px;
  border: none;
  color: #808b98;
  font-size: 13px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-state-focus,
 .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
 .ui-button:hover, .ui-button:focus {
  border: none !important;
  background: #131924 !important;
  font-weight: normal;
  color: #808b98 !important;

}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
  border: none !important;
  background: #131924 !important;
  font-weight: normal;
  color: #ffffff;

}

.hidden{
  display: none;
  transition: linear 1s;
}

.amount-input{
    box-sizing: border-box;
    margin: 5px 0px  5px 0px;
    min-width: 0px;
    position: relative;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid  #1c2533;;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    background-color: #1c2533;
    outline: none;
    color: #808b98;
    padding-left: 10px;
    padding-right: 5px;
    line-height: 40px;
}
input[type=text]{
    box-sizing: border-box;
    margin: 5px 0px  5px 5px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid #1c2533;;
    border-radius: 4px;
    width: 55%;
    font-size: 14px;
    background-color: #1c2533;
    outline: none;
    color: #ffffff;
}
#price{
    margin-left: 20px;
}

.amount-input:hover{

    box-shadow: 0 0 0 1pt #64bdff;

}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: #131923;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1c2533;;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1c2533;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1c2533;;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #1c2533;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #272B2E;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #272B2E;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #272B2E;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #272B2E;
  }
.range-wrap{text-align: center;}
  .volume{
    text-align: center;
    background-color: #273347;
    width: 100%;
    border-radius: 3px;
    padding: 10px 5px 10px 5px;
    color: #808b98;
}
/* .log-botton-wrap{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(43, 49, 57);
    border-radius: 4px;
    font-size: 14px;
}
.log-botton{
   color: #64bdff;
    cursor: pointer;
} */

.check-name {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #808b98;
}

/* Hide the browser's default checkbox */
.check-name input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #273347;
  border-radius: 100%;
}

/* When the checkbox is checked, add a blue background */
.check-name input:checked ~ .checkmark {
  background-color: #273347;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-name input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-name .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: 1px solid #808b98;
  border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}


/* #takeProfit{

} */

#stopLoss{
  margin: 5px 0px 5px 12px;
}

.space-block{
    display: block;
    height: 50px;
}
.buy-option{
    display: inline-block;
    color: #808b98;
    position: relative;
    left: 55%;
}

.action-wrap{
    width: 100%;
}

.action-botton{
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    background-color: #1c2533;
    border-radius: 2px;
    color: rgb(216, 220, 225);
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
}

.action-botton:hover{
    color: #64bdff;
    background-color: #273347;
}
.actionbuy{
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    background-color: #3BB471;
    border-radius: 2px;
    color: rgb(216, 220, 225);
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
}
.actionsell{
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  background-color: #DC163C;
  border-radius: 2px;
  color: rgb(216, 220, 225);
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  text-decoration: none;
}
.tab-bar{
  position: relative;
  width: 1468px;
  background-color: #131923;
  margin: 0px;
color: #808b98;
border-bottom: 1px solid #000000;
}
.second{
  display: inline-block;
  padding: 8px 0px 10px;
  cursor: pointer;
  background-color: #131923;
}

.second:hover{
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #64bdff;
}

.dropbox{
  width: 1269px;
  background-color: #131923;
  height: 90px;
}



.ui-tabs .ui-tabs-panel {
  color: #ffffff;
}
.ui-tabs .ui-tabs-nav {
	background-color: #131924;
  border: none;
  border-bottom: 1px solid #000000;
}
.ui-tabs .ui-tabs-nav li {
	background-color: #131924;
  border: none;
  font-size: 14px;

}
.ui-tabs .ui-tabs-nav li:hover{
  border-bottom: 1px solid #64bdff !important;
  background-color: #131924 !important;

}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  color: #808b98;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover{
  color: rgb(255, 255, 255);
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	border-bottom: 1px solid #64bdff !important;
  background-color: #131924;

}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	color: rgb(255, 255, 255);
}


.ui-widget.ui-widget-content {
  border: none;
  background-color: #131924;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 14px;

}
#tabs.ui-widget-content { border:none;}

.positionSubHeader{
  margin: 10px 12px 10px 12px;
  border-bottom: 1px solid #000000;
}

.positionSubItems{
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dotted ;
  margin: 10px 12px 15px 12px;
}
.positionSubItems:hover{
  border-bottom: 1px solid #64bdff;
  color: #64bdff ;
}
.symbol{
  display: inline-block;
}
.amghezi{
  border: 1px solid red;
  height: 80px;
}
.openSubHeader{
  margin: 10px 12px 10px 12px;
  border-bottom: 1px solid #000000;
}
.openSubItems{
  display: inline-block;
  cursor: text;
  margin: 10px 12px 15px 12px;
}
.openSubItems:hover{
  color: #808b98;
}

.historySubHeader{
  margin: 10px 12px 10px 12px;
  border-bottom: 1px solid #000000;
}
.historySubItems{
  display: inline-block;
  cursor: text;
  margin: 10px 12px 15px 12px;
}
