<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/resources/demos/style.css" />

    <title>Mario Trader</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="menuHeader">
        <form action="#" id="search-form" method="get">
          <input type="search" id="search-box" name="search" value="" />
          <input type="submit" id="search-submit" value="submit" />
        </form>
      </div>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_7465a"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/tv.js"
        ></script>
        <script type="text/javascript">
          new TradingView.widget({
            width: 1180,
            height: 710,
            symbol: "NASDAQ:AAPL",
            interval: "D",
            timezone: "Etc/UTC",
            theme: "dark",
            style: "1",
            locale: "en",
            toolbar_bg: "#f1f3f6",
            enable_publishing: false,
            hide_side_toolbar: false,
            allow_symbol_change: true,
            container_id: "tradingview_7465a",
          });
        </script>
      </div>
      <!-- TradingView Widget END -->

      <div class="placeorder-container">
        <div class="placeOrder-wrap">
          <!-- <header class="order-place">Place Order</header> -->
          <form action="blah.php" style="display: inline-block">
            <input
              type="button"
              value="Isolated"
              id="isolated"
              class="isolatedClass"
            />
          </form>
          <form action="blah.php" style="display: inline-block">
            <input type="button" value="Cross" id="cross" class="crossClass" />
          </form>
          <div class="crossNumber" id="opener">
            0<span id="crossUnit" onclick="crossUnit">x</span>
          </div>
          <div id="dialog" title="">
            <form>
              <input
                type="range"
                name="amountRange"
                id="amountRange"
                min="0"
                max="100"
                value="0"
                oninput="this.form.amountInput.value=this.value"
              />
              <input
                type="number"
                name="amountInput"
                id="amountInput"
                min="0"
                max="100"
                value="0"
                oninput="this.form.amountRange.value=this.value"
              />
              <input type="submit" class="submitBtn" />
            </form>
          </div>
          <div class="dropdown" style="float: right">
            <header class="options"><i class="fas fa-ellipsis-v"></i></header>
            <div class="dropdown-content" style="top: 15px">
              <a href="#">Trading rules</a>
              <a href="#">FAQ</a>
              <a href="#">Spot Tutorial</a>
            </div>
          </div>

          <div class="bottons-wrap">
            <div class="buy bottons">BUY</div>
            <div class="sell bottons">SELL</div>
          </div>

          <div class="market-limit-wrap">
            <a href="#" id="limitClick"><div class="limit market-limit">Limit</div></a>
            <div class="space"></div>
            <a href="#" id="marketClick"><div class="market market-limit">Market</div></a>
            <div class="space"></div>

            <div class="stop-limit market-limit">
              <i class="fas fa-info-circle"></i> Stop-limit</a>
              <div class="dropdown" style="float: right">
                <i class="fas fa-sort-down"></i>
                <div class="dropdown-content">
                  <a href="#">Stop-Limit</a>
                  <a href="#">OCO</a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="names">
            <form action="/action_page.php">
              <fieldset>
                <label for="speed" style="color: #808b98;"><i class="fas fa-wallet" style="color: #808b98;"></i> -</label>
                <select name="currency" id="speed">
                  <option>Slower</option>
                  <option>Slow</option>
                  <option selected="selected">Medium</option>
                  <option>Fast</option>
                  <option>Faster</option>
                </select>
              </fieldset>
              </form>
            </div> -->

          <div class="amount-input priceAmount">
            Price
            <input
              type="text"
              name=""
              id="price"
              onkeypress="validate(event)"
            />
            <br />
          </div>
          <div class="amount-input">
            Amount
            <input
              type="text"
              name=""
              id="amount"
              onkeypress="validate(event)"
            />
          </div>

          <div class="range-wrap">
            <input
              type="range"
              id="volume"
              name="volume"
              min="0"
              max="100"
              value="0"
            />
            <label for="volume" class="volume">0%</label>
          </div>

          <label class="check-name"
            >TP/SL
            <input type="checkbox" name="TPSL" id="TPSL" />
            <span class="checkmark"></span>
          </label>

          <div class="amount-input">
            Take Profit
            <input
              type="text"
              name=""
              id="takeProfit"
              onkeypress="validate(event)"
            />
            <br />
          </div>
          <div class="amount-input">
            Stop Loss
            <input
              type="text"
              name=""
              id="stopLoss"
              onkeypress="validate(event)"
            />
          </div>

          <!-- <div class="log-botton-wrap">
            <div class="log-botton">
                Log In <span style="color: #808b98; padding: 0px 3px 0px 3px; cursor: auto;">or</span> Register Now
            </div>
         </div> -->

          <div class="space-block"></div>
          <div class="asset">
            <header class="order-place">Asset</header>
            <header class="buy-option">
              <a href="#" style="color: #808b98"> Buy with </a
              ><i class="fas fa-chevron-right"></i>
            </header>
          </div>

          <div class="action-wrap">
            <a class="transfer action-botton">Transfer</a>
          </div>
        </div>
      </div>

      <div class="tab-bar">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-1" class="Position">Positions</a></li>
            <li><a href="#tabs-2">Open Orders</a></li>
            <li><a href="#tabs-3">Order History</a></li>
          </ul>
          <div id="tabs-1">
            <!-- new table -->
            <table class="positionSubHeader">
              <tr>
                <th class="symbol">Symbol</th>

                <th class="positionSubItems">Size</th>

                <th class="positionSubItems">Entry Price</th>

                <th class="positionSubItems">Mark Price</th>

                <th class="positionSubItems">Liq.Price</th>

                <th class="positionSubItems">Margin Ration</th>

                <th class="positionSubItems">Margin</th>

                <th class="positionSubItems">PNL(ROE%)</th>

                <th class="positionSubItems">Close All Positions</th>

                <th class="positionSubItems">TP/SL For Position</th>
              </tr>
            </table>

            <!-- <div class="positionSubHeader">
    <div class="symbol">Symbol</div>
    <div class="space"></div>
    <div class="positionSubItems">Size</div>
    <div class="space"></div>
    <div class="positionSubItems">Entry Price</div>
    <div class="space"></div>
    <div class="positionSubItems">Mark Price</div>
    <div class="space"></div>
    <div class="positionSubItems">Liq.Price</div>
    <div class="space"></div>
    <div class="positionSubItems">Margin Ration</div>
    <div class="space"></div>
    <div class="positionSubItems">Margin</div>
    <div class="space"></div>
    <div class="positionSubItems">PNL(ROE%)</div>
    <div class="space"></div>
    <div class="positionSubItems">Close All Positions</div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="positionSubItems">TP/SL For Position</div>
  </div>

    <div class="amghezi">

      <div id="symbol"></div>
      <div id="size"></div>
      <div id="entryPrice"></div>
      <div id="markPrice"></div>
      <div id="liqPrice"></div>
      <div id="marginRatio"></div>
      <div id="margin"></div>
      <div id="PNL"></div>
      <div id="closeAllPositions"></div>
      <div id="TPSLforPosition"></div>



    </div> -->
          </div>

          <div id="tabs-2">
            <div class="openSubHeader">
              <div class="openSubItems">Time</div>
              <div class="space"></div>
              <div class="openSubItems">Symbol</div>
              <div class="space"></div>
              <div class="openSubItems">Type</div>
              <div class="space"></div>
              <div class="openSubItems">Side</div>
              <div class="space"></div>
              <div class="openSubItems">Price</div>
              <div class="space"></div>
              <div class="openSubItems">Amount</div>
              <div class="space"></div>
              <div class="openSubItems">Field</div>
              <div class="space"></div>
              <div class="openSubItems">Reduce Only</div>
              <div class="space"></div>
              <div class="openSubItems">Post Only</div>
              <div class="space"></div>
              <div class="openSubItems">Trigger Condition</div>
              <div class="space"></div>
              <div class="openSubItems">TP/SL</div>
              <div class="space"></div>
              <div class="openSubItems">Cancel All</div>
            </div>
          </div>

          <div id="tabs-3">
            <div class="historySubHeader">
              <div class="historySubItems">Time</div>
              <div class="space"></div>
              <div class="historySubItems">Symbol</div>
              <div class="space"></div>
              <div class="historySubItems">Type</div>
              <div class="space"></div>
              <div class="historySubItems">Side</div>
              <div class="space"></div>
              <div class="historySubItems">Average</div>
              <div class="space"></div>
              <div class="historySubItems">Price</div>
              <div class="space"></div>
              <div class="historySubItems">Executed</div>
              <div class="space"></div>
              <div class="historySubItems">Amount</div>
              <div class="space"></div>
              <div class="historySubItems">Reduce Only</div>
              <div class="space"></div>
              <div class="historySubItems">Post Only</div>
              <div class="space"></div>
              <div class="historySubItems">Trigger Conditions</div>
              <div class="space"></div>
              <div class="historySubItems">
                Status <i class="fas fa-sort-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
